

<div class="carousel-container">
    <ul class="icon-list">
      <li class="icon-item">
        <i class="fa-brands fa-java" style="color: #000000;"></i>
      </li>
      <li class="icon-item">
        <i class="fa-brands fa-html5" style="color: #000000;"></i>
      </li>
      <li class="icon-item">
        <i class="fa-brands fa-angular" style="color: #000000;"></i>
      </li>
      <li class="icon-item">
        <i class="fa-brands fa-square-js" style="color: #000000;"></i>
      </li>
      <li class="icon-item">
        <i class="fa-brands fa-css3-alt" style="color: #000000;"></i>
      </li>
      <li class="icon-item">
        <i class="fa-brands fa-git-alt" style="color: #000000;"></i>
      </li>
      <!-- Agrega más elementos <li> para más iconos -->
    </ul>
    <p style="text-align: center; font-size: 1rem;">Imanol Eduardo Oliva-Software Developer @2022 -</p>

  </div>
  