<div class="container">
    <div class="sub-container">
        <ul class="list-data">
            <li class="icon">
                <a aria-label="Chat on WhatsApp" href="https://wa.me/1539540762 " target="_blank"><img alt="" src="WhatsAppButtonGreenLarge.svg"/> <i class="fa-brands fa-square-whatsapp fa-lg"></i></a>
            </li>
            <li  class="icon"> 
                <a href="mailto:imanoleduardooliva@gmail.com?Subject=Interesado%20en%20el%20curso " target="_blank"><i class="fa-solid fa-envelopes-bulk"></i></a>
            </li >
            <li  class="icon"> 
                <a href="https://github.com/ImanolOliva" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li  class="icon">
                <a href="https://www.linkedin.com/in/imanol-eduardo-oliva/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
        </ul>
    </div>
    <p style="text-align: center;">Imanol Eduardo Oliva-Software Developer @2022 -</p>
</div>  