<br>
<br>
<section class="container">
    <div class="card">
        <div class="card-image card-2"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" routerLink="home">LINK DEL PROYECTO</a>
            <p>
               Portfolio personal donde muestro mis trabajos. <br>
               Echo en TypeScript CSS, HTML. Utilizando de Framework <br>
               Angular. <br>
               El backend esta echo en JAVA y la base de datos <br>
               implementada en SQL. <br>
               Aplicacion Deployada en Heroku.
            </p>
    </div>
    <div class="card">
        <div class="card-image card-6"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" href="https://effortless-semifreddo-0de22e.netlify.app/index" target="_blank" >LINK DEL PROYECTO</a>
            <p>
              Landing page<br>
              Proyecto freelance para ONG Española  <br>
              Echo en Angular y TypesCript con el backend en JAVA<br>
              Landing informativa sobre el movimiento co-housing en España<br>
              En el cual se buscan inversores para financiar una red social <br>
              Con el fin de organizar una comunidad para constituir un co-housing en Asturias.
            </p>
    </div>
    <div class="card">
        <div class="card-image card-1"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" href="https://beamish-heliotrope-a3a88f.netlify.app/" target="_blank">LINK DEL PROYECTO</a>
            <p>
                Proyecto Freelance para Cervezeria  No Picnic. <br>
                Utilizando Angular, TypeScript, HTML , CSS. <br>
            </p>
    </div>
    <div class="card">
        <div class="card-image card-3"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" href="" target="_blank">LINK DEL PROYECTO</a>
            <p>
               ABM echo con Formularios Reactivos. 
               Donde tenes las operaciones. <br> 
               Delete Update Create Read<br>
               Ademas de utilizar un Grilla para mostrar datos <br>
               de personas por paises <br>
               El Frontend se realizo con Angular utilizando RxJS. <br>
               Backend echo en JAVA utilizando Springboot. <br>
               Base de datos SQL. <br>
            </p>
    </div>
    <div class="card">
        <div class="card-image card-4"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" href="" target="_blank">LINK DEL PROYECTO</a>
            <p>
              Sistema de turnos rotativos. <br>
              Podras cargar la jornada laboral de un empleado <br>
              y con ese empleado cargado con su jornada laboral correspondiente<br>
              hacer las operaciones CRUD correspondientes. <br>
              El Proyecto es una API REST FULL echa para NEORIS. <br>
              El Backend echo completamente en JAVA utilizando de framework Springboot <br>
              y el Frontend echo completamente en Angular utilizando diferentes librerias. <br>
              Base de datos SQL. <br>
            </p>
    </div>
    <div class="card">
        <div class="card-image card-5"></div>
            <a style="text-decoration: none; color:grey; font-size: 1rem;" routerLink="/proyectos" ></a>
            <p>
              ZonaFarm en desarrollo. <br>
              Proyecto que intenta rastrear todas las farmacias <br>
              que esten a tu alrededor en base a tu ubicacion. <br>
              Brindarte informacion Adicional sobre horarios y de mas. <br>
              Echo puramente en JavaScript
            </p>
    </div>

</section>
<br>
<br>
<p style="text-align: center; font-size: 1rem; border-top: 1px solid black;">Imanol Eduardo Oliva-Software Developer @2022 -</p>
