<br>
<br>

<div class="container">
    <form  class="formulario" [formGroup]="formulario" (ngSubmit)="enviarDatos()">
      <h1>CONTACTAME</h1>
      <div class="nombre">
          <label class="form-label" for="nombre"></label>
          <input  class="form-control" type="text" id="nombre" placeholder="NOMBRE" formControlName="nombre">
        </div>
      
        <div class="email">
          <label class="form-label" for="email"></label>
          <input class="form-control" type="email" id="email" placeholder="EMAIL" formControlName="email">
        </div>

        <div class="telefono">
            <label class="form-label" for="telefono"></label>
            <input  class="form-control" type="tel" id="telefono" placeholder="TELEFONO" formControlName="telefono">
        </div>
    
        <div class="mensaje">
          <label class="form-label" for="mensaje"></label>
          <textarea class="form-control" id="mensaje" formControlName="mensaje" placeholder="MENSAJE"></textarea>
        </div>
       
        <div class="button">
            <button type="submit" [disabled]="!formulario.valid">Enviar</button>
        </div>
      </form>   
</div>
<app-info></app-info>




