.container{
    justify-content:right;
    display: flex;
    border: 1px solid red;
    
}
.container input{
    padding: 10px;
    width: auto ;
}

.telefono,
.email,
.nombre,
.mensaje{
    padding: 15px;
}

.button{
    padding: 15px;
    justify-content: center;
    text-align: center;
}
button{
    padding: 10px;
}