<br>
<br>
<div class="container">
  <app-info></app-info>
    <form [formGroup]="formulario" (ngSubmit)="enviarDatos()">
        <div class="nombre">
          <label for="nombre"></label>
          <input type="text" id="nombre" placeholder="NOMBRE" formControlName="nombre">
        </div>
      
        <div class="email">
          <label  for="email"></label>
          <input type="email" id="email" placeholder="EMAIL" formControlName="email">
        </div>

        <div class="telefono">
            <label for="telefono"></label>
            <input type="tel" id="telefono" placeholder="TELEFONO" formControlName="telefono">
        </div>
    
        <div class="mensaje">
          <label for="mensaje"></label>
          <textarea id="mensaje" formControlName="mensaje" placeholder="MENSAJE"></textarea>
        </div>

        <div class="button">
            <button type="submit" [disabled]="!formulario.valid">Enviar</button>
        </div>
      </form>   

</div>



